.monitoring-breadcrumb {

    padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal*2;
    border-bottom: 1px solid $monitoring-ca-color-grey-90;
    font-size: $v-font-size--large;  
    background: $monitoring-ca-color-grey-95;
    float: left;

    .monitoring-breadcrumb-lazyLoader {
        float: right;
        padding-right: 10px;
    }
	.monitoring-breadcrumb-env {
		padding-left: 10px;
	}
    .monitoring-breadcrumb-item {
    	height: 100%;
    	vertical-align: middle;
        padding-left: 10px;
        min-width: 0px;
    }
    .monitoring-breadcrumb-seperator {
        padding-left: 10px;
    }
    
}