@mixin monitoring-padding-right($padding) {
	padding-right: $padding;
}

@mixin monitoring-padding-left($padding) {
	padding-left: $padding;
}

@mixin monitoring-padding-top($padding) {
	padding-top: $padding;
}

@mixin monitoring-padding-bottom($padding) {
	padding-bottom: $padding;
}

@mixin monitoring-margin-right($margin) {
	margin-right: $margin;
}

@mixin monitoring-margin-left($margin) {
	margin-left: $margin;
}

@mixin monitoring-margin-top($margin) {
	margin-top: $margin;
}

@mixin monitoring-margin-bottom($margin) {
	margin-bottom: $margin;
}