//monitoring specific

$monitoring-ca-color-green: #7DBA00;

$monitoring-ca-color-yellow: #C7C700;

$monitoring-ca-color-red: #C70000;

$monitoring-ca-color-light-green: #DEEAC6;

$monitoring-ca-color-grey-40: #666666;

$monitoring-ca-color-grey-90: #DDDDDD;

$monitoring-ca-color-grey-92: #ECECEC;

$monitoring-ca-color-grey-95: #F3F3F3;



$monitoring-color-changed: #84AE73;

$monitoring-color-added: #319EEF;

$monitoring-color-removed: #EF7918; 

$monitoring-textfield-height: 28px;

//VALO specific

$v-selection-color: $monitoring-ca-color-green;

$v-luminance-threshold: 10;

$v-focus-color: #FFFFFF;

$v-font-size: 13px;

$v-font-family: 'PT Sans', sans-serif;

$v-font-color: black;

$v-font-weight: 580;

$v-unit-size: 25px;

$v-app-loading-text: "Loading...";

$v-line-height: 1.50;

$v-border-radius: 0px;

$v-scaling-factor--small: 0.85;

$v-scaling-factor--large: 1.2;

